@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --main-color: #047857;
  --second-color: #14b8a6;
  --third-color: #4f46e5;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./img/books.jpg) no-repeat center center/cover;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.App {
  background: var(--main-color);
  border-radius: 10%;
  margin: 40px auto;
  padding: 35px;
  width: 100%;
  max-width: 450px;
  color: #fff;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
}

.navbar h1 {
  margin: 10px 0;
}

.book-list {
  margin: 20px;
}

.book-list ul {
  padding: 0;
  list-style: none;
}

.book-list li {
  background: var(--third-color);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.book-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.book-list .title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.book-list .author {
  font-size: 0.9em;
  color: #ddd;
}

.empty {
  margin: 20px;
  text-align: center;
  padding: 15px;
}

.form {
  padding: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px 60px;
  border: 0;
}

input[type="placeholder"] {
  color: #fff;
}

input[type="submit"] {
  margin: 15px auto;
  background: var(--second-color);
  border: 0;
  border-radius: 5%;
  color: #fff;
  padding: 12px 28px;
  display: block;
}

input[type="submit"]:hover {
  background: #fff;
  color: var(--second-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  .App {
    background: var(--main-color);
    border-radius: 5%;
    margin: 10px auto;
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    color: #fff;
  }

  input[type="text"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    /* text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;  */
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 50px;
    border: 0;
  }
}
